/* Genearl part */
p {
    font-size: 1.2rem;
}
.bgr-flower {
    
    position: absolute;
    opacity: 30%;
    top: 70px;
    right: 0;
    z-index: -1;
    width: 24%;
}
.bg {
    background-color: #faf1e6;
}
    
.background-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}
/* Navagation bar */
.nav-right {
    margin-right: 50px;
}
.nav-space {
    padding-right: 30px;
}
.logo-size {
    width: 30px;
    margin-left: 30px;
}
.menu-icon {
    font-size: 32px;
}
.menu-icon-space {
    padding: 0 0.75rem;
}
.item-space {
    padding: 0.5rem 1rem;
}
.item-icon-space {
    padding-right: 0.7rem;
}
/* intor-background */
.intro-bg {
    background-color: #eacfaf;
   
}
.position_of_intro {
    
    margin-top: 15vh;
}
.home-intro {
    margin-left: 5em;
}
.intro-font-lg {
    font-size: 1.8rem;
    color: white;
    text-align: center;
    padding-top: 2em;
    font-family: Superclarendon;
    translate: -2em;
}
/* web page */
.web-position {
    margin: auto;
    margin-top: 5rem;
}
.spece-between-profile {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* Work page */
.container-width {
    max-width: 1500px;
}


.row-space {
    /* margin-top: 10vh; */
    margin-bottom: 50px;
}
.text-top-space {
    margin-top: 100px;
}
.item-wrapper {
    position: relative;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.item-wrapper:hover .item-text {
    color: #ffffff;
    opacity:1;
    
}
.image-darken {
    transition: 1s;
    filter: brightness(0.3);
}
.item-text {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width:100%;
    color: gray;
    opacity:0;
    transition: 1s;   
    font-size: 1.5em;
}


/* about page */
.intro-text-space {
 max-width: 80%;
 margin-left: auto;
 margin-right: auto;
}
.introduction-space {
    margin-top: 150px;
    
}
.image-space {
    margin-left: 3rem;
}
.porfile-position {
    width: 35%;
    float: right;
}
.profile-image{
    width: 80%;
    height: auto;
    animation: fadin 1.5s forwards;
    opacity: 0;
}
@keyframes fadin { 
	100% { opacity: 1; }
}
.about-head-weight {
    font-weight: lighter;
}
.about-head {
    display: flex;
    align-items: center;
}
.about-bg {
    background-color: white;
}
.container-width {
    max-width: 800px;
}
.about-margin {
    margin: auto;   
}
.p-space {
    margin-top: 2em;
}
.highlight {
    color: #eb5e53;
    text-decoration: none;
}
.intro-font-size {
    font-size: 1.5em;
    font-family: "Avenir Next";
}
.special-text {
    font-variant-caps: all-small-caps;
}


.image-collection {
    width:50%;
    height:auto;
    padding-bottom: 5em;
}
/* contact page */
.heading {
    color: #707070;
}
.send-color {
    background-color: #7E8449;
    border: none;
}
.send-color:hover {
    background-color: #464928;
    border: none;
}
.send-hidden {
    display: none;
}

/* View design page */
.product-bottom-space{
    margin-bottom: 5rem;
}
.icon-left-space {
    margin-left: 100px !important;
}
.subnav-space {
    margin-top: 20vh;   
}
.sub-nav-space {
    margin-top: revert;
}
.text-print {
    font-family: Superclarendon;
    color: #aa967f;
}


.dialog-image-size {
    width: 50%;
    height: auto;
}
.dialog-height {
    height: 600px;
}

.dialog-image-space {
    display: block;
    margin: 0 auto;
}
.dialog-border {
    border: none;
}
.dialog-image-math {
    width:80%
}
.dialog-image-monster {
    width:100%;
}
.dialog-image-bookcover {
    width: 50%;
}
.logo-image {
    width: 100%;
    height: auto;
}
.print-image {
    width: 50%;
    height: auto;
}
.view-item-wrapper {
    position: relative;
    margin-top: 80px;
}
.cursor-point {
    cursor: pointer;
}
.inforgraphic-margin {
    margin-top: 5em;
}
/* illustration page */
#poster {
    font-size: 0;
}
/* use of font-size: 0 to eliminate every last little extra space inside the <div> */
#poster div{
    opacity: 0;
    animation: fdsseq .5s forwards;
}
#postr div:nth-child(1) {
	animation-delay: 0.5s;
}
#poster div:nth-child(2) {
	animation-delay: 0.5s;
}
#poster div:nth-child(3) {
	animation-delay: 1.5s;
}
#poster div:nth-child(4) {
	animation-delay: 2s;
}
@keyframes fdsseq { 
	100% { opacity: 1; }
}
/* UX/UI page */

.ux-content-bg {
    background-color: white;
}
.sub-container {
    max-width: 700px;
    margin: 0 auto;   
}
.ux-content-head {
    font-family: Superclarendon;
    color: black;
    font-weight: lighter;
}
.ux-content-sub {
    font-size: 1.2em;
}
.ux-head {
    font-family: Superclarendon;
    color: #6f6152;
    text-align: center;
}
.ux-sub-head {
    font-family: "Avenir Next";
    color: #7f6f5e;
    font-size:1.5em;
    
}
.dicor-words {
    font-family: Superclarendon;
    color: rgb(167, 164, 164);
    font-weight: lighter;
}
.ux_topspace {
    padding-top: 5em;
    margin-bottom: 5rem;
}
.research-image {
    width: 100%;
}
.text-spce {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.image-spce {
    margin-right:4rem;
}
.position_of_intro {  
    margin-top: 20vh;
}
/* booklet page */
.click-button {
    width: 5%;
    height: auto;
    position: absolute;
    top: -15em;
    left: 14em;
    
}
/* inforgraphic */
.width-of-infographic {
    width: 900px;
}


/* media for all */

@media (max-width: 1189px) {
    .background-image {
        height: 220px;
        }
        }
@media (min-width: 992px) {
  .navbar-expand-lg .btn-group {
    display: none;
 }
}

@media (min-width: 768px) and (max-width:1025px) {
    .sub-container {
      max-width:50vw;
      margin: 0 auto;
   }
  }

@media (max-width: 767px) {
    .sub-container {
      max-width:90vw;
      margin: 0 auto;
   }
  }

@media (max-width:1024px) {
    .item-text {
        color: black;
    }
}

@media (max-width: 415px) {
    .porfile-position {
        width: auto;
        float: none;
    }
    .width-of-infographic {
        width: 300px;
    }

}
